<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your identity - Sycamore</title>
</head>
<body>
    
    <input type="text" placeholder="Server address" id="serveraddress"/>
    <input type="text" placeholder="Pseudonym (username)" id="pseudonym"/>
    <button type="button" id="checkpseudonym" >Check availability</button>

    <input type="password" placeholder="Password" id="password" />

    <button type="button" id="createidentity">Create identity</button>

    <span id="displaykeys"></span>

    <script src="/public/nacl_factory.js"></script>
    <script src="/public/crypt.js"></script>
    <script>

        document.querySelector('#checkpseudonym').onclick = async () => {
            const serverAddress = document.querySelector('#serveraddress').value;
            const pseudonym = document.querySelector('#pseudonym').value;

            const response = await fetch(`${serverAddress}/syc/client/pseudonymavailable`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    pseudonym: pseudonym
                })
            });
            const json = await response.json();
            console.log(json.success, json.error);
        }

        document.querySelector('#createidentity').onclick = async () => {
            const serverAddress = document.querySelector('#serveraddress').value;
            const pseudonym = document.querySelector('#pseudonym').value;
            const password = document.querySelector('#password').value;

            // Generate seed
            // TODO: consider using a human-readable passphrase for the secret key seed, so that it can be exported more easily (like they do in crypto wallets i think)
            const seed = NACL.random_bytes(32);
            const keypair = NACL.crypto_box_keypair_from_raw_sk(seed);
            
            const sk = NACL.to_hex(seed);
            const pk = NACL.to_hex(keypair.boxPk);
            
            const response = await fetch(`${serverAddress}/syc/client/createidentity`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    pseudonym: pseudonym,
                    pkey: pk
                })
            });
            const json = await response.json();
            console.log(json);

            if (json.success === true) {
                const key = await deriveKeyFromPassword(password);

                let { ciphertext, onetime } = await symEncrypt(sk, key);

                ciphertext = NACL.to_hex(new Uint8Array(ciphertext));
                onetime = NACL.to_hex(onetime);

                localStorage.setItem("sk", ciphertext);
                localStorage.setItem("skOnetime", onetime);


                // TODO: add section here for user to backup their secret key (after encryption ofc)



                alert("Success: account created");

                // TODO: do login ('initiate session') either by redirecting to login page or handling login logic below:

                //window.location.href = "/login";

            }

        }


    </script>

</body>
</html>