<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your identity - Sycamore</title>
</head>
<body>
    
    <input type="text" placeholder="Server address" id="serveraddress"/>
    <input type="text" placeholder="Pseudonym (username)" id="pseudonym"/>
    <button type="button" id="checkpseudonym" >Check availability</button>

    <input type="password" placeholder="Password" id="password" />

    <button type="button" id="createidentity">Create identity</button>

    <span id="displaykeys"></span>

    <script src="/public/nacl_factory.js"></script>
    <script src="/public/crypt.js"></script>
    <script>

        document.querySelector('#checkpseudonym').onclick = async () => {
            const serverAddress = document.querySelector('#serveraddress').value;
            const pseudonym = document.querySelector('#pseudonym').value;

            const response = await fetch(`${serverAddress}/syc/client/pseudonymavailable`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    pseudonym: pseudonym
                })
            });
            const json = await response.json();
            console.log(json.success, json.error);
        }

        document.querySelector('#createidentity').onclick = async () => {
            const serverAddress = document.querySelector('#serveraddress').value;
            const pseudonym = document.querySelector('#pseudonym').value;
            const password = document.querySelector('#password').value;

            // Generate seed
            // TODO: consider using a human-readable passphrase for the secret key seed, so that it can be exported more easily (like they do in crypto wallets i think)
            const seed = NACL.random_bytes(32);
            const keypair = NACL.crypto_box_keypair_from_raw_sk(seed);
            
            const sk = NACL.to_hex(seed);
            const pk = NACL.to_hex(keypair.boxPk);
            
            const response = await fetch(`${serverAddress}/syc/client/createidentity`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    pseudonym: pseudonym,
                    pkey: pk
                })
            });
            const json = await response.json();
            console.log(json);

            if (json.success === true) {
                const key = deriveKeyFromPassword(password);

                // TODO: finish encrypting secret key with password and storing in localstorage
                // for now just storing sk in localstorage as is - DO NOT PUBLISH THIS LMAO


                // TODO: add section here for user to backup their secret key (after encryption ofc)


                localStorage.setItem("sk", sk);

                alert("Success: account created");

                window.location.href = "/login";

            }

        }



    </script>

</body>
</html>